.homepage {
  display: flex;
  align-items: center;
  gap: 100px;
  height: 100%;
  overflow: hidden;

  .left {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 16px;
    text-align: center;

    h1 {
      font-size: 128px;
      background: linear-gradient(to right, #217bfe, #e55571);
      background-clip: text;
      -webkit-background-clip: text;
      color: transparent;
    }

    h3 {
      font-weight: 400;
      max-width: 70%;
    }

    a {
      padding: 15px 25px;
      background-color: #217bfe;
      color: white;
      border-radius: 20px;
      font-size: 14px;
      margin-top: 20px;

      &:hover{
        background-color: white ;
        color:#217bfe;
      }
    }
  }

  .right {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100px;

    .imgContainer{
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: #140e2d;
        border-radius: 50px;
        width: 80%;
        height: 50%;



        .bot{
            width: 100%;
            height: 100%;
            object-fit: contain;
            animation: 3% ease-in-out infinite alternate botAnimate;
        }
    }
  }

  .orbital{
    position: absolute;
    bottom: 0;
    left: 0;
    opacity: 0.05;
    animation: 10s linear infinite rotaionalOrbit ;
    transform-origin: center; 
  }
}

@keyframes rotaionalOrbit {
 0%{
    transform: rotate(0deg);
 }

 100%{
    transform: rotate(60deg);
 }
}


@keyframes botAnimate {
    0%{
       transform: scale(1) rotate(0deg);
    }
   
    100%{
       transform: scale(1.1) rotate(-5deg);
    }
   }